.titleImput {
  margin-bottom: 13px;
}

.titleImput div {
  display: inline-block;
}

.text {
  width: 80px;
  margin-left: 20px;
}

.remember {
  margin-left: 95px;
}

.remember div {
  display: inline-block;
  width: 200px;
}

.remember :nth-child(1) {
  text-align: right;
  margin-right: 7px;
  width: 115px;
}

.remember :nth-child(2) {
  text-align: left;
  font-size: 75%;
}

.remember input:nth-of-type(1) {
  height: 10px;
  width: 10px;
}

.button {
  margin-top: 12px;
  text-align: center;

}

.button button {
  width: 132px;
  height: 28px;
  border-radius: 30px;
  background-color: #A68107;
  color: white;
  font-size: 112%;
  outline: none;
  border: none;
  cursor: pointer;
}

.button button:hover {
  background-color: #7e6504;
}