/* Если у нас в классе .formControl есть .error input или .error textarea тогда усланавливаем ему стиль */
.formControl.error input,
.formControl.error textarea {
    background-color: #D81818;
    opacity: 61%;
}

.formControl.error span {
    color: red;
}

.formControl input {
    width: 271px;
    height: 31px;
    display: inline-block;
}

.errorMessage {
    position: absolute;
    border: 2px solid black;
    margin-left: 59px;
    height: 31px;
    width: 271px;
    background-color: #D81818;
    opacity: 61%;
    border-radius: 10px;
    line-height: 31px;
    padding-left: 5px;
    color: white;
}