/* Если у нас в классе .formControl есть .error input или .error textarea тогда усланавливаем ему стиль */
.formControl.error input,
.formControl.error textarea {
    background-color: #D81818;
    opacity: 61%;
}

.formControl.error span {
    color: red;
}

.formControl input {
    width: 271px;
    height: 31px;
    display: inline-block;
}