.blockDialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 20px;
}

.dialogs {
    padding: 10px;
}

.messages {
    padding: 10px;
}

.item .active {
    font-size: larger;
    color: white;
}

.item a {
    text-decoration: none;
}