.nav {
  padding: 20px;
  grid-area: n;
  background-color: burlywood;
  text-align: center;
}

.item a {
  text-decoration: none;
  width: 150px;
  margin-bottom: 2px;
  display: block;
  padding: 5px 0 5px 5px;
  color: black;
}