.photo {
    height: 100px;
    border-radius: 30px;
}

.user {
    margin: 50px;
    border: 1px solid;
    padding: 10px;
    background-color: burlywood;
}

.app-wrapper-content {
    overflow: auto;
}